[core]
	autocrlf = false
	eol = lf

[user]
	email = mark@shroyer.name
	name = Mark Shroyer

[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	lg = log
	graph = log --graph --decorate --oneline --date-order

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[push]
	default = simple

[mergetool "ediff"]
	cmd = emacsclient -c -nw --alternate-editor=emacs -q --eval \"(ediff-merge-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"

[merge]
	tool = ediff

[pull]
	ff = only

# Allow HTTPS authentication mediated by the gh cli
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
