[user]
	email = mark@shroyer.name
	name = Mark Shroyer

[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	lg = log
	graph = log --graph --decorate --oneline --date-order

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[push]
	default = simple
